<section>
    <!-- Education -->
    <h2>Education</h2>
    <div class="education">
        <ul>
            <li>
                <div class="degree">Bachelor of Science in Information Technology</div>
                <div>Holy Angel University | 2022-2026</div>
            </li>
            <li>
                <div class="degree">Information and Communication Technology</div>
                <div>Children of Fatima School Inc. | Completed: 2021</div>
            </li>
        </ul>
    </div>
</section>