<section>
  <h2>Training</h2>
  <ul>
    <li><strong>Git It Done: Build a Foundation with Version Control</strong><br>
      Code Geeks | October 2024
    </li>
    <li><strong>CCNAv7: Introduction to Networks</strong><br>
      Cisco | June 2024
    </li>
    <li><strong>View Legacy JavaScript Algorithms and Data Structures</strong><br>
      FreeCodeCamp | March 2024
    </li>
    <li><strong>Responsive Web Design</strong><br>
      FreeCodeCamp | January 2024
    </li>
    <li><strong>Remote: A New Normal Workplace</strong><br>
      Code Geeks | November 2023
    </li>
  </ul>
</section>
